#div1 {
    position: relative;
}

#div2 {
    border: black solid 1px;
    border-radius: 5px;

    text-align: center;
    width: 400px;
    height: 200px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

#div3 {
    position: absolute;
    bottom: 10px;

    display: flex;
    justify-content: space-between;

    width: 100%;
}

button {
    border: none;
    /*width: 50px;
    height: 30px;*/
    font-size: 3rem;
}

/*
#button1 {
    background-color: limegreen;
}

#button2 {
    background-color: greenyellow;
}

#button3 {
    background-color: yellow;
}

#button4 {
    background-color: darkorange;
}

#button5 {
    background-color: orangered;
}
*/